.app {
  background-color: lightblue;
  width: 20%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
}

.list-item {
  border-radius: inherit;
  margin-bottom: 12px;
  padding: 40px;
  margin-inline: auto;
  background-color: #fff;
}
